# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


.DS_Store
ecs-local
.irb*
.pry_history
.cloudtrail-reporter.yaml
cloudtrail-reporter
*.yaml
dist/*
